<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        I am from _base.twig!
    </h1>
    {% block content %}
        If nobody i will be here!
    {% endblock %}
</body>
</html>